BasedOnStyle: Google
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  AfterNamespace: true
  AfterFunction: true
  AfterEnum: true
  AfterClass: true
  AfterStruct: true
  AfterCaseLabel: true
  AfterControlStatement: true
  BeforeElse: true
IndentWidth: 4
NamespaceIndentation: All
UseTab: Never
AccessModifierOffset: -4
Language: Cpp
ColumnLimit: 120
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AllowAllArgumentsOnNextLine: true
Cpp11BracedListStyle: false